.home{
    width:100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    // div{
    //     color: $darkGrey;
    //     font-size: 2rem;
    // }

    h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }
    .category__title{
        font-size: 1.4rem;
        font-weight: 700;
        text-align: left;
        margin:0 1.5rem;
        padding-bottom: .5rem;
        border-bottom:1px solid rgb(182, 182, 182);
    }
}