.home{
    width:100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    // div{
    //     color: $darkGrey;
    //     font-size: 2rem;
    // }

    h1{
        font-size: 3rem;
        text-align: center;
    }
}