.product-preview{
    height:330px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 70%;
        height: 60%;
        margin-top: .5rem;
        border-radius: 5px;
        box-shadow: 0 0 5px grey;
    }
    .product-details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30%;
        width: 70%;
        margin-top: .8rem;
        h4{
            font-size: 1rem;
            margin: .2rem 0;
        }
        h3{
            font-size: .8rem;
            font-weight: 400;
            margin:.2rem 0;
            text-align: left;
        }
        h5{
            margin:.2rem 0;
        }
    }

    &:hover{
        cursor: pointer;
        // border: 1px solid rgba(212, 212, 212,.5);
        box-shadow: 0 0 10px rgb(194, 194, 194);
        .button__add-to-cart{
            display: block;
        }
    }

    //add to cart
    .button__add-to-cart{
        display: none;
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding:10px;
        padding-bottom: 6px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 5px rgb(195, 195, 195);
        transition: all 200ms ease-in-out;

        svg{
            // fill: $darkOrange;
            fill: $lightGreen;
            
        }

        &:hover{
            transform: scale(1.2);
            background-color: $lightGreen;
            // background-image: linear-gradient($lightGreen, rgba(83, 83, 83,.3));
            box-shadow: 0 0 10px rgba($lightGreen,.8);
            svg{
                fill: white;
            }
        }

        @media #{$smallScreen},#{$mediumScreen} {
            display: block;
        }

    }
    
}

