.products-section{
    display: grid;
    // justify-content: space-between;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill,210px);
    grid-gap: 1rem;
    margin-top: 3rem;
    grid-auto-flow: row;
}

