.product-preview{
    // width:250px;
    // height:30vh;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: center;
    transition: all ease-in;
    transition-duration: 200ms;
    
    &:hover{
        cursor: pointer;
        background-color: rgb(226, 226, 226);
    }

    img{
        width: 110px;
        height: 150px;
        margin-top: .5rem;
    }
    h4{
        font-size: 1.2rem;
        margin: .2rem .3rem;
        text-align: center;
    }
    h3{
        font-size: .8rem;
        font-weight: 400;
        margin:.2rem auto;
    }
    h5{
        margin:.2rem auto;
    }
}
