.signin-page {
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signin-page__form {
    width: 30%;
    // border: 1px solid rgb(153, 153, 153);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
  }
  
  .signin-form {
    h3 {
      text-align: left;
      font-size: 2rem;
      color: $darkGrey;
    }
  
    input {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid $lightGrey;
      margin-top: 1rem;
      border-radius: 5px;
  
      &:focus {
        outline: none;
      }
    }
  
    button {
      display: block;
      padding: 0.5rem;
      background: $lightGreen;
      color: white;
      border: none;
      border-radius: 5px;
      width: 100%;
      outline: none;
      cursor: pointer;
  
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
  
  .input-invalid {
    border: 1px solid red;
  }
  
  .invalid-message {
    color: red;
    font-size: 0.75rem;
  }
  
  .signin-form__nav {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // div {
    //   font-size: 0.75rem;
    //   align-self: flex-end;
    //   text-decoration: underline;
    //   color: black;
    // }
    div {
      text-decoration: underline;
      color: black;
      &:hover{
        cursor: pointer;
        font-weight: 700;
      }
    }
  }

  .error-message{
    color: red;
    text-align: center;
    height: auto;
    margin: .5rem;
  }