.page{
    margin:4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // div{
    //     color: $darkGrey;
    //     font-size: 2rem;
    // }

    h1{
        font-size: 2rem;
        text-align: left;
    }


    @media #{$bigScreen}{
        width: 80%;
    }
    @media #{$mediumScreen}{
        width: 90%;
    }
    @media #{$smallScreen}{
        width: 100%;
    }
}
