.search-dropdown{
    position: relative;
    width: 85%;
    background-color: white;
    color: $blackish;
    .result-row{
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        padding: .3rem 0;
        // width: 80%;
        // margin: 2rem auto;


        .result-details{
            display: flex;
            flex-direction: column;
            text-align: left;
            h1{
                
            
            }
            h3{
                font-weight: 400;
                margin-top: 0;
            }
        }

        img{
            // height: 80%;
            width: 70%;
            margin-left: .5rem;
        }

        &:hover{
            cursor: pointer;
            background-color: rgb(226, 226, 226);
        }
    }
}