.search{
    width: 30%;
    height: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 204, 204,.5);
    form{

        display: grid;
        grid-template-columns: 90% 10%;
        height: 100%;
        // margin: 1rem auto;
        // padding: .5rem;
        input{
             
            background-color:rgba(255,255,255,1) ;
            color:$blackish;
            border: transparent;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;
            padding-left: 1rem;
        }
        input::placeholder{
            color:$blackish;
            font-weight: 300;
            
        }
        button{
            min-width:40px;
            border: transparent;
            line-height: .8;
            background-color: $eggYellow;
            box-shadow:-5px 0 8px -2px rgb(185, 185, 44);
            outline: none;
            transition: all 400ms ease-in-out;
            &:hover{
                cursor: pointer;
                box-shadow:-5px 0 8px -2px $eggYellow;
                svg{
                    fill:$darkGrey;
                }
            }
            svg{
                fill:$mediumGrey;
            }
        }
    }

    
}