.search{
    width: 30%;
    height: 60%;
    form{

        display: grid;
        grid-template-columns: 85% 15%;
        height: 100%;
        // margin: 1rem auto;
        // padding: .5rem;
        input{
             
            background-color:rgba(255,255,255,1) ;
            color:$blackish;
            border: transparent;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;
            padding-left: 1rem;
        }
        input::placeholder{
            color:$blackish;
            font-weight: 300;
            
        }
    
        button{
            background-image: url( '../../sources/search.svg' );
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            background-size: 50%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline: none;
            }
        }
    }

    
}