* {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    
}

body{
    margin:0 2rem;
}


.disable{
    opacity: .4 !important;
    pointer-events: none !important;
}

%a-nav{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}