$blackish: #202020;
$eggYellow: #FFDF6C;
$darkYellow: rgb(255,194,0);
$darkOrange: rgb(235,145,71);
$white: #FFFFFF;

$lightGrey:#6b6e70;
$darkGrey:#222629;
$mediumGrey:#474B4F;
$lightGreen:#86c232;
$darkGreen:#61892f;